<% @groups.each do |group| %>
  <div class="group-container shadow-sm">
    <%= link_to group do %>
      <%= image_tag(group.avatar) %>
    <% end %>
    <div class="group-detail text-muted ml-3">
      <p class="mb-4"><%= group.name %></p>
      <p class="viewing-detail-date"><time><%= friendly_date(group.created_at) %></time></p>
    </div>
  </div>
<% end %>
