<div class="wrapper d-flex align-items-stretch">
  <div id="content">
    <div class="topbar">
      <div class="custom-menu">
        <button type="button" id="backToSplash" class="btn btn-primary">
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="none" viewBox="0 0 24 24"> <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12l6-6m-6 6l6 6m-6-6h14"/> </svg>
        </button>
      </div>
      <div class="topbar-center">
        <div class="text-uppercase fs-1">New group</div>
      </div>
      <div class="topbar-right mr-5">
      </div>
    </div>
    <main class="main-content">
      <div class="creation-box text-center mt-4">
        <%= render 'form', group: @group %>
      </div>
    </main>
  </div>
</div>
