@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "BlendaScript";
  src: url("./../../assets/fonts/BlendaScriptRegular.otf");
}

$blue: #3778c2;
$green: #5fb523;
$gray: #434b54;

html,
body {
  height: 100%;
  background: #f1f3f2;
}

body {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.proxima-bold {
  font-family: "proximabold", sans-serif;
}

.proxima-light {
  font-family: "proximalight", sans-serif;
}

.bg-blue {
  background-color: $blue;
}

.app-home {
  width: 100%;
  margin-bottom: 140px;
}

.app-name {
  font-family: "BlendaScript", sans-serif;
  font-size: 5rem;
}

.login-btn-section {
  width: 90%;
  margin-bottom: 5rem;
}

.login-btn {
  width: 100%;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
