<div class="wrapper d-flex align-items-stretch">
  <%= render "shared/sidebar" %>
  <div id="content">
    <div class="topbar">
      <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="none" viewBox="0 0 24 24"> <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 8h12M6 12h12M6 16h12"/> </svg>
        </button>
      </div>
      <div class="topbar-center">
        <div class="text-uppercase fs-1">Film Viewings</div>
      </div>
      <div class="topbar-right mr-5">
      </div>
    </div>
    <main class="main-content">
      <div class="viewings-header-wrapper">
        <div class="viewings-header py-3 px-2">
          <div class="text-muted">Total viewing time</div>
          <div class="text-dark-gray">5hrs</div>
        </div>
      </div>
      <div class="viewings-container-wrapper">
        <div class="viewings-container">
          <%= image_tag('monsters.png', alt: '👻') %>
          <div class="viewing-detail text-muted">
            <p class="mb-4">The Mummy (1999)</p>
            <p class="viewing-detail-date">12 April 2022</p>
          </div>
          <div class="viewing-time text-dark-gray">
            2h 4min
          </div>
        </div>
      </div>
      <div class="scan-wrapper text-center">
        <button type="button" class="btn scan-btn my-3 py-3">
          <div class="text-uppercase fs-1">Add new</div>
        </button>
      </div>
    </main>
  </div>
</div>
